@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-weight: 400;
    font-size: 87.5%;
    font-family: 'Raleway';
    padding-top: 10vh;
}