$progresBar: linear-gradient(90deg,hsl(6,100%,80%) 0%, hsl(335,100%,65%) 80%);
$priTxt: white;
$secTxt: hsl(229, 7%, 55%);
$bgCard: hsl(228, 56%, 26%);
$bgColor: hsl(229, 57%, 11%);
@use './reset';
@mixin flex($justify, $items, $gap){
    display: flex;
    gap: $gap;
    justify-content: $justify;
    align-items: $items;
}
body{
    background-color: $bgColor;

}
.background{
    width: 100%;
    height: 50%;
    position: absolute;
    background-image: url(/Datastorage/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
}
.container{
    padding: 0 4rem;
    margin-top: 30vh;
    width: 70%;
    height: 25rem;
    margin: auto;
    @include flex(center, end, 2em);
    position: relative;
}
.container__article{
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: $bgCard;
    right: 0;
    left: 0;
}
.container__article--small{
    width: 18rem;
    height: 12rem;
    border-radius: 0.5rem 5rem 0.5rem 0.5rem;
}
.container__img{
    width: 8rem;
}

.container__figure{
    margin-top: 2rem;
}
.container__img--file{
    margin: 0 2%;
    height: 2.6rem;
    width: 2.8rem;
    background-color: $bgColor;
    border: 1em solid $bgColor;
    border-radius: 0.5em;
}
.container__article--large{
    width: 30rem;
    height: 10rem;
}

.container__p--tiny{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:$priTxt;
    font-weight: 100;
}
.container__p--flex{
    width: 100%;
    @include flex(space-between, center, 2em)
}
.container__progres-bar{
    margin-bottom: 0.5rem;
    width: 100%;
    height: 1rem;
    background-color:  hsl(229, 57%, 11%, 0.5);
    border-radius: 1em;
}
.container__bar{
    background: $progresBar;
    width: 80%;
    height: 1rem;
    @include flex(end, center, 0);
    border-radius: 1em;
}
.container__dot{
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.1rem;
    background-color: aliceblue;
    border-radius: 50%;
}
.container__alert{
    @include flex(center, center, 0.5em);
    text-align: center;
    width: 10rem;
    min-height: 4rem;
    position: absolute;
    background-color: aliceblue;
    top: 15em;
    right: 19%;
    border-radius: 0.5em;
}
.container__p--uppercase{
    font-size: 0.8em;
    color: $secTxt;
    font-weight: 700;
}
.container__h1{
    font-size: 3em;
}
.container__triangle {
    width: 2rem;
    height: 2rem;
    background-color: aliceblue;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    position: absolute;
    z-index: 0;
    right: 0;
    top: 70%;
  }
.container__span--bold{
    font-weight: 700;
    color: $priTxt;
}
footer{
    position: relative;
    color: $priTxt;
}
.attribution { font-size: 11px; text-align: center; font-weight: 400;
}
.attribution a { color: hsl(228, 45%, 44%);
}

@media (max-width: 1080px) {
    .container__alert{
        right: 16%;
    }
    .container__img--file{
        height: 2.4rem;
        width: 2.6rem;
    }
    .container__figure{
        margin-top: 1rem;
    }
}
@media (max-width: 850px) {
    .contaner__img{
        width: 6rem;
    }
    .container__alert{
        right: 18%;
    }
}
@media (max-width: 700px) {
    .container{
        width: 70%;
        height: 22rem;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        gap: 1em;
        grid-template-areas:
        "n1"
        "n2";
    }
    .background{
        background-image: url(/Datastorage/images/bg-mobile.png);
        top: 0;
        background-repeat: repeat;
        height: 50rem;
    }
    .container__article{
        padding: 1.5rem;
        width: 21rem;
    }
    .container__article--small{
        grid-area: n1;
    }
    .container__article--large{
        grid-area: n2;
    }
    .container__figure{
        margin-top: 3rem;
    }
    .container__img--file{
        margin: 0 2%;
        height: 2.8rem;
        width: 3rem;
        background-color: $bgColor;
        border: 1em solid $bgColor;
        border-radius: 0.5em;
    }
    .container__p--tiny{
       text-align: center;
    }
    .container__alert {
        width: 11rem;
        height: 4rem;
        top: 20.5rem;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      .container__triangle {
       visibility: hidden;
      }
      footer{
        margin-top: 4rem;
      }
}   